@mixin status {
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  background-color: #ede9e9;
  text-transform: uppercase;
}

.filterSection {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  margin: 20px 50px;
  gap: 80px;
  // border: 1px solid black;
  select {
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    padding: 0 5px;
    &:focus {
      border: 1px solid black;
    }
  }
  .btn {
    padding: 5px 10px;
    border: 0;
    color: #1f305d;
    border-radius: 3px;
    background-color: #f8c94b;
    position: relative;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.tasksWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: 20px 50px;
  .emptyTask {
    margin: auto;
  }
  .taskWrapper {
    padding: 10px 30px;
    // margin: auto;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    .headWrapper {
      display: flex;
      justify-content: space-between;
      // font-size: 12px;
      font-weight: 600;
      .actionsWrapper {
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
        .handlers {
          cursor: pointer;
        }
      }
      .todo {
        color: #840014;
        @include status;
      }
      .in_progress {
        color: #c19e3c;
        @include status;
      }
      .done {
        color: #3CC151;
        @include status;
      }
    }
    .taskdesc {
      color: #616161;
    }
  }
}

@media (max-width: 991px) {
  .filterSection {
    justify-content: space-between;
  }
  .tasksWrapper {
    margin: 10px 20px;
  }
}
