.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginWrapper {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;

  .login {
    margin: auto;
  }

  button {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding: 10px;
    background-color: #ffd000;
    color: #000;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    .spin_loader {
      margin-left: 20px;
    }

    &:disabled {
      background-color: #bdc3c7;
      cursor: not-allowed;
    }

    &:hover {
      background-color: #3498db;
      color: #fff;
    }
  }
}

.inputWrapper {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    background: #f0f0f0;
    // color: #eee;
  }

  .invalidInput {
    border-color: red;
  }
  .error {
    font-size: 13px;
    color: red;
  }
}

.signupLink {
  text-align: center;

  a {
    color: #3498db;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
